<div class="landing-page">
  <div class="quote row col-md-4 col-md-offset-2">
    "I can't change the direction of the wind, but I can adjust my sails to always reach my destination."
    <br>
    "-Jimmy Dean"
  </div>
  <!-- <div class="author row col-md-4-offset-2">
    "-Jimmy Dean"
  </div> -->
</div>
