.landing-page {
  padding-top: 200px;
  text-align: center;
  color: #474747;
  font-size: 250%;
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-shadow: 1px #899bae;
  background: url('ocean-float.jpeg') no-repeat center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
